In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("../input/rcb-vs-kxip-match/deliveries.csv")
df.head()
df.info()
import os
print(os.listdir("../input"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB
['rcb-vs-kxip-match']

In [2]:
df1=pd.read_csv("../input/rcb-vs-kxip-match/matches.csv")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [38]:
df2=df1[['team1','team2','winner','result','toss_winner','toss_decision','season']]
df2.head()

,team1,team2,winner,result,toss_winner,toss_decision,season
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,normal,Royal Challengers Bangalore,field,2017
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,normal,Rising Pune Supergiant,field,2017
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,normal,Kolkata Knight Riders,field,2017
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,normal,Kings XI Punjab,field,2017
4,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,bat,2017

In [40]:
df3 = df2[(df2['team1']=='Royal Challengers Bangalore') & (df2['team2'] == 'Kings XI Punjab') ]

df3

,team1,team2,winner,result,toss_winner,toss_decision,season
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Royal Challengers Bangalore,bat,2017
83,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Kings XI Punjab,field,2008
93,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Royal Challengers Bangalore,bat,2008
126,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Royal Challengers Bangalore,bat,2009
138,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,bat,2009
279,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Kings XI Punjab,field,2011
349,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Kings XI Punjab,field,2012
428,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Kings XI Punjab,field,2013
447,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Kings XI Punjab,field,2013
474,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Kings XI Punjab,field,2014
556,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Kings XI Punjab,field,2015
614,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Kings XI Punjab,field,2016
625,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Kings XI Punjab,field,2016
737,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Kings XI Punjab,field,2019

In [41]:
df4 = df2[(df2['team1']=='Kings XI Punjab') & (df2['team2'] == 'Royal Challengers Bangalore')]

df4

,team1,team2,winner,result,toss_winner,toss_decision,season
41,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,normal,Royal Challengers Bangalore,field,2017
180,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Kings XI Punjab,bat,2010
204,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Kings XI Punjab,bat,2010
295,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,normal,Kings XI Punjab,bat,2011
332,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,field,2012
487,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,normal,Royal Challengers Bangalore,field,2014
565,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,normal,Royal Challengers Bangalore,field,2015
643,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,field,2018
683,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,field,2018
723,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,field,2019

In [54]:
df5 = pd.concat([df3,df4], axis=0)
df5

,team1,team2,winner,result,toss_winner,toss_decision,season
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Royal Challengers Bangalore,bat,2017
83,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Kings XI Punjab,field,2008
93,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Royal Challengers Bangalore,bat,2008
126,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Royal Challengers Bangalore,bat,2009
138,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,bat,2009
279,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Kings XI Punjab,field,2011
349,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Kings XI Punjab,field,2012
428,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Kings XI Punjab,field,2013
447,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Kings XI Punjab,field,2013
474,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Kings XI Punjab,field,2014
556,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Kings XI Punjab,field,2015
614,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Kings XI Punjab,field,2016
625,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Kings XI Punjab,field,2016
737,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Kings XI Punjab,field,2019
41,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,normal,Royal Challengers Bangalore,field,2017
180,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Kings XI Punjab,bat,2010
204,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Kings XI Punjab,bat,2010
295,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,normal,Kings XI Punjab,bat,2011
332,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,field,2012
487,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,normal,Royal Challengers Bangalore,field,2014
565,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,normal,Royal Challengers Bangalore,field,2015
643,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,field,2018
683,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,field,2018
723,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,field,2019

In [55]:
df5['winner'].value_counts()

Royal Challengers Bangalore    12
Kings XI Punjab                12
Name: winner, dtype: int64

In [56]:
df5 = df5[(df5['season'] > 2016)] 
df5

,team1,team2,winner,result,toss_winner,toss_decision,season
7,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,normal,Royal Challengers Bangalore,bat,2017
737,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,normal,Kings XI Punjab,field,2019
41,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,normal,Royal Challengers Bangalore,field,2017
643,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,field,2018
683,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,field,2018
723,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,field,2019

In [53]:
df5['winner'].value_counts()

Royal Challengers Bangalore    4
Kings XI Punjab                2
Name: winner, dtype: int64

In [7]:
matches_played=pd.concat([df1['team1'],df1['team2']])
matches_played=matches_played.value_counts().reset_index()
matches_played.columns=['Team','Total Matches']
matches_played['wins']=df1['winner'].value_counts().reset_index()['winner']

matches_played.set_index('Team',inplace=True)
matches_played.reset_index().head(8)

                          Team  Total Matches  wins
0               Mumbai Indians            187   109
1  Royal Challengers Bangalore            180   100
2        Kolkata Knight Riders            178    92
3               Delhi Capitals            177    84
4              Kings XI Punjab            176    82
5          Chennai Super Kings            164    77
6             Rajasthan Royals            147    75
7          Sunrisers Hyderabad            108    58

In [8]:
win_percentage = round(matches_played['wins']/matches_played['Total Matches'],3)*100
win_percentage.head(8)

Team
Mumbai Indians                 58.3
Royal Challengers Bangalore    55.6
Kolkata Knight Riders          51.7
Delhi Capitals                 47.5
Kings XI Punjab                46.6
Chennai Super Kings            47.0
Rajasthan Royals               51.0
Sunrisers Hyderabad            53.7
dtype: float64

In [9]:
i= df[['bowling_team','batting_team','player_dismissed']]
j=i[(i['bowling_team']=='Royal Challengers Bangalore') & (i['batting_team'] == 'Kings XI Punjab')]
j

                       bowling_team     batting_team player_dismissed
1801    Royal Challengers Bangalore  Kings XI Punjab              NaN
1802    Royal Challengers Bangalore  Kings XI Punjab              NaN
1803    Royal Challengers Bangalore  Kings XI Punjab              NaN
1804    Royal Challengers Bangalore  Kings XI Punjab              NaN
1805    Royal Challengers Bangalore  Kings XI Punjab              NaN
...                             ...              ...              ...
174939  Royal Challengers Bangalore  Kings XI Punjab         R Ashwin
174940  Royal Challengers Bangalore  Kings XI Punjab        H Viljoen
174941  Royal Challengers Bangalore  Kings XI Punjab              NaN
174942  Royal Challengers Bangalore  Kings XI Punjab              NaN
174943  Royal Challengers Bangalore  Kings XI Punjab              NaN

[2713 rows x 3 columns]

In [10]:
j=j.fillna(0)
j

                       bowling_team     batting_team player_dismissed
1801    Royal Challengers Bangalore  Kings XI Punjab                0
1802    Royal Challengers Bangalore  Kings XI Punjab                0
1803    Royal Challengers Bangalore  Kings XI Punjab                0
1804    Royal Challengers Bangalore  Kings XI Punjab                0
1805    Royal Challengers Bangalore  Kings XI Punjab                0
...                             ...              ...              ...
174939  Royal Challengers Bangalore  Kings XI Punjab         R Ashwin
174940  Royal Challengers Bangalore  Kings XI Punjab        H Viljoen
174941  Royal Challengers Bangalore  Kings XI Punjab                0
174942  Royal Challengers Bangalore  Kings XI Punjab                0
174943  Royal Challengers Bangalore  Kings XI Punjab                0

[2713 rows x 3 columns]

In [11]:
j['player_dismissed'] = j['player_dismissed'].apply(lambda x: 'NO WICKET'  if x== 0 else 'WICKET')
j

                       bowling_team     batting_team player_dismissed
1801    Royal Challengers Bangalore  Kings XI Punjab        NO WICKET
1802    Royal Challengers Bangalore  Kings XI Punjab        NO WICKET
1803    Royal Challengers Bangalore  Kings XI Punjab        NO WICKET
1804    Royal Challengers Bangalore  Kings XI Punjab        NO WICKET
1805    Royal Challengers Bangalore  Kings XI Punjab        NO WICKET
...                             ...              ...              ...
174939  Royal Challengers Bangalore  Kings XI Punjab           WICKET
174940  Royal Challengers Bangalore  Kings XI Punjab           WICKET
174941  Royal Challengers Bangalore  Kings XI Punjab        NO WICKET
174942  Royal Challengers Bangalore  Kings XI Punjab        NO WICKET
174943  Royal Challengers Bangalore  Kings XI Punjab        NO WICKET

[2713 rows x 3 columns]

In [12]:
j['player_dismissed'].value_counts()

NO WICKET    2578
WICKET        135
Name: player_dismissed, dtype: int64

In [13]:
#from above total players of KXIP dismissed during RCB vs KXIP=135
total_matches_rcb_vs_kxip=24
wickets_per_match_ofkxip=135/total_matches_rcb_vs_kxip
wickets_per_match_ofkxip

5.625

In [14]:
a= df[['bowling_team','batting_team','noball_runs']]
b=a[(a['bowling_team']=='Kings XI Punjab') & (a['batting_team'] == 'Royal Challengers Bangalore') & (a['noball_runs'] == 1)]
b

           bowling_team                 batting_team  noball_runs
48388   Kings XI Punjab  Royal Challengers Bangalore            1
78579   Kings XI Punjab  Royal Challengers Bangalore            1
101662  Kings XI Punjab  Royal Challengers Bangalore            1
101666  Kings XI Punjab  Royal Challengers Bangalore            1
101675  Kings XI Punjab  Royal Challengers Bangalore            1
106183  Kings XI Punjab  Royal Challengers Bangalore            1
112539  Kings XI Punjab  Royal Challengers Bangalore            1
115806  Kings XI Punjab  Royal Challengers Bangalore            1
131927  Kings XI Punjab  Royal Challengers Bangalore            1
134182  Kings XI Punjab  Royal Challengers Bangalore            1
147909  Kings XI Punjab  Royal Challengers Bangalore            1
147945  Kings XI Punjab  Royal Challengers Bangalore            1
161814  Kings XI Punjab  Royal Challengers Bangalore            1
174709  Kings XI Punjab  Royal Challengers Bangalore            1
174710  Kings XI Punjab  Royal Challengers Bangalore            1

In [15]:
c= df[['bowling_team','batting_team','noball_runs']]
d=c[(c['bowling_team']=='Royal Challengers Bangalore') & (c['batting_team'] == 'Kings XI Punjab') & (c['noball_runs'] == 1)]
d

                       bowling_team     batting_team  noball_runs
42521   Royal Challengers Bangalore  Kings XI Punjab            1
48350   Royal Challengers Bangalore  Kings XI Punjab            1
66403   Royal Challengers Bangalore  Kings XI Punjab            1
69846   Royal Challengers Bangalore  Kings XI Punjab            1
69848   Royal Challengers Bangalore  Kings XI Punjab            1
106352  Royal Challengers Bangalore  Kings XI Punjab            1
112660  Royal Challengers Bangalore  Kings XI Punjab            1

In [16]:
e = pd.concat([b,d], axis=0)
e

                       bowling_team                 batting_team  noball_runs
48388               Kings XI Punjab  Royal Challengers Bangalore            1
78579               Kings XI Punjab  Royal Challengers Bangalore            1
101662              Kings XI Punjab  Royal Challengers Bangalore            1
101666              Kings XI Punjab  Royal Challengers Bangalore            1
101675              Kings XI Punjab  Royal Challengers Bangalore            1
106183              Kings XI Punjab  Royal Challengers Bangalore            1
112539              Kings XI Punjab  Royal Challengers Bangalore            1
115806              Kings XI Punjab  Royal Challengers Bangalore            1
131927              Kings XI Punjab  Royal Challengers Bangalore            1
134182              Kings XI Punjab  Royal Challengers Bangalore            1
147909              Kings XI Punjab  Royal Challengers Bangalore            1
147945              Kings XI Punjab  Royal Challengers Bangalore            1
161814              Kings XI Punjab  Royal Challengers Bangalore            1
174709              Kings XI Punjab  Royal Challengers Bangalore            1
174710              Kings XI Punjab  Royal Challengers Bangalore            1
42521   Royal Challengers Bangalore              Kings XI Punjab            1
48350   Royal Challengers Bangalore              Kings XI Punjab            1
66403   Royal Challengers Bangalore              Kings XI Punjab            1
69846   Royal Challengers Bangalore              Kings XI Punjab            1
69848   Royal Challengers Bangalore              Kings XI Punjab            1
106352  Royal Challengers Bangalore              Kings XI Punjab            1
112660  Royal Challengers Bangalore              Kings XI Punjab            1

In [17]:
f=e.groupby('bowling_team').agg({'noball_runs':'sum'})
f

                             noball_runs
bowling_team
Kings XI Punjab                       15
Royal Challengers Bangalore            7

In [18]:
#total_noball_runs=15+7=22 and total_matches_rcb_vs_kxip=20...
total_matches_rcb_vs_kxip=24
total_noball_runs=22
noball_per_match=total_noball_runs/total_matches_rcb_vs_kxip

noball_per_match

0.9166666666666666

In [19]:
g= df[['batting_team','bowling_team','batsman_runs']]
g.head()

h=g[(g['batting_team'] == 'Kings XI Punjab') & (g['bowling_team'] == 'Royal Challengers Bangalore') & (g['batsman_runs'] == 6)]
h

           batting_team                 bowling_team  batsman_runs
1816    Kings XI Punjab  Royal Challengers Bangalore             6
1833    Kings XI Punjab  Royal Challengers Bangalore             6
1849    Kings XI Punjab  Royal Challengers Bangalore             6
1854    Kings XI Punjab  Royal Challengers Bangalore             6
1861    Kings XI Punjab  Royal Challengers Bangalore             6
...                 ...                          ...           ...
174902  Kings XI Punjab  Royal Challengers Bangalore             6
174904  Kings XI Punjab  Royal Challengers Bangalore             6
174915  Kings XI Punjab  Royal Challengers Bangalore             6
174917  Kings XI Punjab  Royal Challengers Bangalore             6
174938  Kings XI Punjab  Royal Challengers Bangalore             6

[130 rows x 3 columns]

In [20]:
w=g[(g['batting_team'] == 'Royal Challengers Bangalore') & (g['bowling_team'] == 'Kings XI Punjab') & (g['batsman_runs'] == 6)]
w

                       batting_team     bowling_team  batsman_runs
1695    Royal Challengers Bangalore  Kings XI Punjab             6
1731    Royal Challengers Bangalore  Kings XI Punjab             6
1771    Royal Challengers Bangalore  Kings XI Punjab             6
1777    Royal Challengers Bangalore  Kings XI Punjab             6
1781    Royal Challengers Bangalore  Kings XI Punjab             6
...                             ...              ...           ...
174810  Royal Challengers Bangalore  Kings XI Punjab             6
174811  Royal Challengers Bangalore  Kings XI Punjab             6
174813  Royal Challengers Bangalore  Kings XI Punjab             6
174816  Royal Challengers Bangalore  Kings XI Punjab             6
174818  Royal Challengers Bangalore  Kings XI Punjab             6

[159 rows x 3 columns]

In [21]:
v = pd.concat([h,w], axis=0)
v

                       batting_team                 bowling_team  batsman_runs
1816                Kings XI Punjab  Royal Challengers Bangalore             6
1833                Kings XI Punjab  Royal Challengers Bangalore             6
1849                Kings XI Punjab  Royal Challengers Bangalore             6
1854                Kings XI Punjab  Royal Challengers Bangalore             6
1861                Kings XI Punjab  Royal Challengers Bangalore             6
...                             ...                          ...           ...
174810  Royal Challengers Bangalore              Kings XI Punjab             6
174811  Royal Challengers Bangalore              Kings XI Punjab             6
174813  Royal Challengers Bangalore              Kings XI Punjab             6
174816  Royal Challengers Bangalore              Kings XI Punjab             6
174818  Royal Challengers Bangalore              Kings XI Punjab             6

[289 rows x 3 columns]

In [22]:
v['batsman_runs'].value_counts()

6    289
Name: batsman_runs, dtype: int64

In [23]:
#from above data total_sixes=289
total_sixes=289
total_macthes_rcb_vs_kxip=24
sixes_per_match=total_sixes/total_macthes_rcb_vs_kxip
sixes_per_match

12.041666666666666

In [29]:
x= df[['batsman','non_striker','total_runs','match_id','bowling_team']]
x.head()

y=x[(x['batsman'] == 'V Kohli') & (x['non_striker'] == 'AB de Villiers') & (x['bowling_team'] == 'Kings XI Punjab')]
y

        batsman     non_striker  total_runs  match_id     bowling_team
66279   V Kohli  AB de Villiers           0       280  Kings XI Punjab
82578   V Kohli  AB de Villiers           0       350  Kings XI Punjab
106221  V Kohli  AB de Villiers           1       448  Kings XI Punjab
106226  V Kohli  AB de Villiers           1       448  Kings XI Punjab
106228  V Kohli  AB de Villiers           0       448  Kings XI Punjab
145420  V Kohli  AB de Villiers           0       615  Kings XI Punjab
147939  V Kohli  AB de Villiers           6       626  Kings XI Punjab
147940  V Kohli  AB de Villiers           1       626  Kings XI Punjab
171459  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171460  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171468  V Kohli  AB de Villiers           0     11319  Kings XI Punjab
171469  V Kohli  AB de Villiers           4     11319  Kings XI Punjab
171470  V Kohli  AB de Villiers           4     11319  Kings XI Punjab
171471  V Kohli  AB de Villiers           0     11319  Kings XI Punjab
171474  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171478  V Kohli  AB de Villiers           0     11319  Kings XI Punjab
171479  V Kohli  AB de Villiers           0     11319  Kings XI Punjab
171480  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171482  V Kohli  AB de Villiers           0     11319  Kings XI Punjab
171483  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171484  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171486  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171488  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171492  V Kohli  AB de Villiers           2     11319  Kings XI Punjab
171493  V Kohli  AB de Villiers           0     11319  Kings XI Punjab
171494  V Kohli  AB de Villiers           0     11319  Kings XI Punjab
171495  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171496  V Kohli  AB de Villiers           2     11319  Kings XI Punjab
171497  V Kohli  AB de Villiers           4     11319  Kings XI Punjab
171498  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171500  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171502  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171503  V Kohli  AB de Villiers           2     11319  Kings XI Punjab
171504  V Kohli  AB de Villiers           0     11319  Kings XI Punjab
171505  V Kohli  AB de Villiers           4     11319  Kings XI Punjab
171506  V Kohli  AB de Villiers           2     11319  Kings XI Punjab
171507  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171509  V Kohli  AB de Villiers           2     11319  Kings XI Punjab
171510  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171512  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171517  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171519  V Kohli  AB de Villiers           0     11319  Kings XI Punjab
171520  V Kohli  AB de Villiers           0     11319  Kings XI Punjab
171522  V Kohli  AB de Villiers           0     11319  Kings XI Punjab
171523  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171526  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171527  V Kohli  AB de Villiers           1     11319  Kings XI Punjab
171529  V Kohli  AB de Villiers           0     11319  Kings XI Punjab

In [30]:
z=x[(x['batsman'] == 'AB de Villiers') & (x['non_striker'] == 'V Kohli') & (x['bowling_team'] == 'Kings XI Punjab')]
z

               batsman non_striker  total_runs  match_id     bowling_team
66278   AB de Villiers     V Kohli           1       280  Kings XI Punjab
82571   AB de Villiers     V Kohli           0       350  Kings XI Punjab
82572   AB de Villiers     V Kohli           0       350  Kings XI Punjab
82573   AB de Villiers     V Kohli           2       350  Kings XI Punjab
82574   AB de Villiers     V Kohli           1       350  Kings XI Punjab
82575   AB de Villiers     V Kohli           0       350  Kings XI Punjab
82576   AB de Villiers     V Kohli           4       350  Kings XI Punjab
82577   AB de Villiers     V Kohli           1       350  Kings XI Punjab
101677  AB de Villiers     V Kohli           6       429  Kings XI Punjab
101678  AB de Villiers     V Kohli           0       429  Kings XI Punjab
106218  AB de Villiers     V Kohli           4       448  Kings XI Punjab
106219  AB de Villiers     V Kohli           0       448  Kings XI Punjab
106220  AB de Villiers     V Kohli           1       448  Kings XI Punjab
106222  AB de Villiers     V Kohli           1       448  Kings XI Punjab
106223  AB de Villiers     V Kohli           0       448  Kings XI Punjab
106224  AB de Villiers     V Kohli           1       448  Kings XI Punjab
106225  AB de Villiers     V Kohli           1       448  Kings XI Punjab
106227  AB de Villiers     V Kohli           1       448  Kings XI Punjab
145419  AB de Villiers     V Kohli           1       615  Kings XI Punjab
147941  AB de Villiers     V Kohli           0       626  Kings XI Punjab
147942  AB de Villiers     V Kohli           0       626  Kings XI Punjab
171461  AB de Villiers     V Kohli           4     11319  Kings XI Punjab
171462  AB de Villiers     V Kohli           0     11319  Kings XI Punjab
171463  AB de Villiers     V Kohli           4     11319  Kings XI Punjab
171464  AB de Villiers     V Kohli           0     11319  Kings XI Punjab
171465  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171466  AB de Villiers     V Kohli           0     11319  Kings XI Punjab
171467  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171472  AB de Villiers     V Kohli           0     11319  Kings XI Punjab
171473  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171475  AB de Villiers     V Kohli           0     11319  Kings XI Punjab
171476  AB de Villiers     V Kohli           2     11319  Kings XI Punjab
171477  AB de Villiers     V Kohli           4     11319  Kings XI Punjab
171481  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171485  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171487  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171489  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171490  AB de Villiers     V Kohli           4     11319  Kings XI Punjab
171491  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171499  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171501  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171508  AB de Villiers     V Kohli           0     11319  Kings XI Punjab
171511  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171513  AB de Villiers     V Kohli           4     11319  Kings XI Punjab
171514  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171515  AB de Villiers     V Kohli           2     11319  Kings XI Punjab
171516  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171518  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171521  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171524  AB de Villiers     V Kohli           0     11319  Kings XI Punjab
171525  AB de Villiers     V Kohli           1     11319  Kings XI Punjab
171528  AB de Villiers     V Kohli           1     11319  Kings XI Punjab

In [31]:
o = pd.concat([y,z], axis=0)
o

               batsman     non_striker  total_runs  match_id     bowling_team
66279          V Kohli  AB de Villiers           0       280  Kings XI Punjab
82578          V Kohli  AB de Villiers           0       350  Kings XI Punjab
106221         V Kohli  AB de Villiers           1       448  Kings XI Punjab
106226         V Kohli  AB de Villiers           1       448  Kings XI Punjab
106228         V Kohli  AB de Villiers           0       448  Kings XI Punjab
...                ...             ...         ...       ...              ...
171518  AB de Villiers         V Kohli           1     11319  Kings XI Punjab
171521  AB de Villiers         V Kohli           1     11319  Kings XI Punjab
171524  AB de Villiers         V Kohli           0     11319  Kings XI Punjab
171525  AB de Villiers         V Kohli           1     11319  Kings XI Punjab
171528  AB de Villiers         V Kohli           1     11319  Kings XI Punjab

[100 rows x 5 columns]

In [34]:
tt=o.groupby('match_id').agg({'total_runs':'sum'})
tt

          total_runs
match_id
280                1
350                8
429                6
448               11
615                1
626                7
11319             86

In [35]:
tt=o.groupby('batsman').agg({'total_runs':'sum'})
tt

                total_runs
batsman
AB de Villiers          66
V Kohli                 54

In [37]:
#from above data total_runs_between_kohliandABde=120
total_runs_between_kohliandABde=120
#from total_macthes_rcb_vs_kxip_with_AB_and_VK_both=5
total_macthes_rcb_vs_kxip_with_AB_and_VK_both=5
runs_between_them_per_match=total_runs_between_kohliandABde/total_macthes_rcb_vs_kxip_with_AB_and_VK_both
runs_between_them_per_match

24.0